@media (max-width: 640px) {
    #textarea-desc {
        height: 59vh;
    }
}
@media (min-width: 641px) and (max-width: 1007px) {
    #textarea-desc {
        height: 56vh;
    }
}
@media (min-width: 1008px) {
    #textarea-desc {
        height: 56vh;
    }
}

