body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  cursor: pointer;
  font-size: 1.3em;
}
i.spin:hover {
  animation: spin 1.5s infinite linear;
}

/* to roatate always */
i.spin-force { 
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  0%{transform: translate(0px, 0px) rotate(0deg);}
  100%{transform: translate(0px, 0px) rotate(-360deg);}
}

i.shake:hover {
  animation: shake 2s infinite linear;
}
@keyframes shake {
  0%{ transform: translate(0px, 0px) rotate(0deg); } /*C*/
  40%{ transform: translate(8px, 0px) rotate(-15deg); }/*R*/
  80%{ transform: translate(-8px, 0px) rotate(-15deg); }/*L*/
  100%{ transform: translate(0px, 0px) rotate(0deg); }/*C*/
}

textarea:focus, input:focus, input, textarea{
  background-color:transparent;
  outline: none;
  border: none;
  resize: none;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  #tag-field {
    width: 95%;
  }
}

/* Media query for screens between 601px and 1200px */
@media (min-width: 601px) and (max-width: 1200px) {
  #tag-field {
    width: 97%;
  }
}

/* Media query for screens larger than 1200px */
@media (min-width: 1201px) {
  #tag-field {
    width: 98%;
  }
}

.cursor {
  cursor: pointer;
}

.active {
  border: 2px solid purple;
  border-top: none;
  border-radius: 20px;
  cursor: none;
}

/* Use the class for styling and placeholder color */
.error-placeholder::placeholder {
  color: red; /* Replace with your desired color */
}

/* Define a keyframe animation for a wave-like shaking effect */
@keyframes shake-wave {
  0%, 100% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-5px) rotate(-10deg);
  }
  50% {
    transform: translateX(5px) rotate(10deg);
  }
  75% {
    transform: translateX(-5px) rotate(-10deg);
  }
}

/* Apply the animation to the icon */
.shake-me {
  animation: shake-wave 0.2s ease-in-out infinite; /* Adjust the duration and easing as needed */
}

/* theme for the app */
.note-dark {
  background-color: #262626;
  color: whitesmoke;
}
.note-light {
  background-color: white;
}
.dark-note {
  background-color: #343434;
  color: whitesmoke;
}
.form-dark {
  color: whitesmoke;
  background-color: #181818;
}
.form-light {
  color: black;
  background-color: white;
}
.placeholder-color {
  color: #888;
}

/* to change the toast color */
.toast-color {
  background-color: #232323;
  color: whitesmoke;
}

/* to handle long notes/texts */
.beautify-notes {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

/* to rotate the plus icon to make x */
@keyframes rotate-me {
  0%{ transform: rotate(0deg); }
  33%{ transform:  rotate(15deg); }
  66%{ transform: rotate(30deg); }
  100%{ transform: rotate(45deg); }
}
@keyframes rotate-me-back {
  0%{ transform: rotate(0deg); }
  33%{ transform:  rotate(-15deg); }
  66%{ transform: rotate(-30deg); }
  100%{ transform: rotate(-45deg); }
}
.rotate-me {
  animation: rotate-me 1s linear forwards;
}
.rotate-me-back {
  animation: rotate-me-back 1s linear forwards;
}