body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  cursor: pointer;
}

textarea:focus, input:focus, input, textarea{
  background-color:transparent;
  outline: none;
  border: none;
  resize: none;
}

i.shake {
  animation: shake 4s infinite;
}
@keyframes shake {
  /* 100%{ transform: translate(93vw, 0px); } */
}